* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  display: grid;
  justify-items: center;
  background: rgb(220, 228, 250);
}

.cards {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  justify-items: center;
  align-items: start;
}

.card {
  /* max-width: 500px; */
  background: rgb(230, 242, 245);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
  font-size: 20px;
}

.card-header {
  margin-bottom: 1rem;
}

.card-header:hover > img {
  transform: scaleX(1.015);
}

.card img {
  width: 100%;
  display: block;
  object-fit: cover;
  max-height: 400px;
  transition: 0.5s transform ease-in-out;
}

.card-body {
  padding: 1rem;
}
.card-footer {
  margin-top: 1rem;
  padding: 1rem;
}

button {
  font-size: 1em;
  padding: 0.8em;
  border-radius: 8px;
  border-style: none;
  color: white;
  background: rgba(13, 166, 221, 0.791);
  outline: 2px solid white;
}

button + button {
  margin-left: 0.25rem;
  color: rgba(13, 166, 221, 0.791);
  background: white;
  outline: 2px solid rgba(13, 166, 221, 0.195);
}

button:hover {
  cursor: pointer;
  background: rgba(13, 166, 221, 0.582);
}
button + button:hover {
  background: rgba(13, 166, 221, 0.127);
}
